#cn-list .cn-entry-content-block-disclaimer {
	font-style: italic;
}

#cn-list .cn-entry-content-block {
	margin-bottom: 20px;
}

#cn-list .cn-entry-content-block-disclaimer > h3,
#cn-list .cn-entry-content-block-contact-suggest_button > h3 {
	display: none;
}

#cn-list .cn-entry-content-block h3,
#cn-list .cn-notes h3{
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 6px 0 0;
}

#cn-list .cn-entry-content-block-occupancy_requirements > h3,
#cn-list .cn-entry-content-block-sewer_lateral_insurance_program > h3,
#cn-list .cn-entry-content-block-city_services_phone_directory > h3,
#cn-list .cn-entry-content-block-utilities > h3,
#cn-list .cn-notes > h3 {
	border-bottom: 1px solid #000000;
	margin-bottom: 20px;
	padding-bottom: 4px;
}

#cn-list .cn-entry-content-block-occupancy_requirements > h3:after,
#cn-list .cn-entry-content-block-sewer_lateral_insurance_program > h3:after,
#cn-list .cn-entry-content-block-city_services_phone_directory > h3:after,
#cn-list .cn-entry-content-block-utilities > h3:after,
#cn-list .cn-notes > h3:after {
	content: ":"
}

#cn-list ul.occupancy-requirements,
#cn-list ul.sewer-lateral-insurance-program,
#cn-list ul.city-services-phone-directory,
#cn-list ul.utilities-phone-directory {
	display: table;
	list-style: none;
	margin: 0 0 20px 0;
}

#cn-list ul.occupancy-requirements li,
#cn-list ul.sewer-lateral-insurance-program li,
#cn-list ul.city-services-phone-directory li,
#cn-list ul.utilities-phone-directory li {
	display: table-row;
}

#cn-list ul.occupancy-requirements li span,
#cn-list ul.sewer-lateral-insurance-program li span,
#cn-list ul.city-services-phone-directory li span,
#cn-list ul.utilities-phone-directory li span {
	display: table-cell;
}

#cn-list ul.occupancy-requirements li span.occupancy-requirement-label:after,
#cn-list ul.sewer-lateral-insurance-program li span.sewer-lateral-insurance-program-label:after,
#cn-list ul.city-services-phone-directory li span.city-services-phone-directory-label:after,
#cn-list ul.utilities-phone-directory li span.utilities-directory-label:after {
	content: ":"
}

#cn-list ul.sewer-lateral-insurance-program li span.sewer-lateral-insurance-program-label-muni_sewer_what_covered:after {
	content: none;
}

#cn-list ul.occupancy-requirements li span.occupancy-requirement-value,
#cn-list ul.sewer-lateral-insurance-program li span.sewer-lateral-insurance-program-value,
#cn-list ul.city-services-phone-directory li span.city-services-phone-directory-value,
#cn-list ul.utilities-phone-directory li span.utilities-directory-value {
	padding-left: 20px;
}
