#cn-slim-plus .connections-list { clear: both; line-height: normal; }
#cn-slim-plus .cn-clear { clear: both; }

#cn-slim-plus div.cn-list-head {
	margin-bottom: 25px;
}

#cn-slim-plus .cn-search {
	float: right;
	margin-bottom: 20px;
}

#cn-slim-plus .cn-search label { display: none; }

#cn-slim-plus #cn-select-label {
    display: block;
    font-size: 14px;
    margin: 10px 0 6px;
    text-align: left;
}

#cn-slim-plus .cn-alphaindex {
	clear: both;
	position: relative;
	margin: 12px 0 20px;
	text-align: right;
}

#cn-slim-plus .cn-show { display: block; }
#cn-slim-plus .cn-list-section-head, #cn-slim-plus .cn-list-row, #cn-slim-plus .cn-list-row-alternate { clear: both; }
#cn-slim-plus .cn-entry {
	clear: both;
	font-size: 12px !important;
	position: relative;
}
#cn-slim-plus h3.cn-accordion-item {
	cursor: pointer;
	display: block;
	font-size: 16px !important;
	font-weight: bold;
	line-height: 20px !important;
	margin: 0 !important;
	padding: 6px 0 0 !important;
	text-decoration: none;
}

#cn-slim-plus h3.cn-accordion-item a {
	text-decoration: none;
}

#cn-slim-plus h4 {
	font-size: 13px;
	font-weight: bold;
	margin: 1em 0;
}

#cn-slim-plus h5 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 1em;
}

#cn-slim-plus .cn-sprite {
	background: url(sprite.gif) no-repeat 0 0;
	display: block;
	height: 20px;
	width: 20px;
	float: right;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#cn-slim-plus .cn-open {
	background: url(sprite.gif) no-repeat 0 -20px;
}

#cn-slim-plus .cn-detail { padding-top: 10px; }

#cn-slim-plus .cn-left {
	display:block;
	float:left;
	overflow:hidden;
	position:relative;
	top:0;
	width:120px;
}

#cn-slim-plus .cn-right {
	display:block;
	float:left;
	width: -moz-calc(100% - 130px);
	width: -webkit-calc(100% - 130px);
	width: calc(100% - 130px);
}

#cn-slim-plus span.cn-image-style {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #FFFFFF;
	border: none;
	margin: 0;
	padding: 0 5px 0;
}

#cn-slim-plus .cn-image-none {
	-webkit-border-radius: 5px;
    border-radius: 5px;
	color: #AAAAAA;
	background-color: #F1F1F1;
	border:1px solid #D3D3D3;
	font-weight: 700;
	margin: 0 0 5px;
	padding: 0;
	position: relative;
	text-align: center;
	text-shadow: 0px 1px 0px #E1E1E8;
}

#cn-slim-plus .cn-detail .org, #cn-slim-plus .cn-detail .title  {
	font-weight: bold;
	margin-bottom: 10px;
}

#cn-slim-plus span.tel {
	margin: 0;
}

#cn-slim-plus .vevent abbr{ border: 0; text-transform: none; }
#cn-slim-plus .bio, #cn-slim-plus .note {
	margin: 0 0 1em 0;
	line-height: 1.5em;
}

#cn-slim-plus span.last-updated-label {
	font-weight: bold;
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px) {
	#cn-slim-plus .cn-left {
		display:block;
		float:none;
		margin-right: 10px;
		overflow:hidden;
		position:relative;
		top:0;
		width:100%;
	}

	#cn-slim-plus .cn-right {
		display:block;
		float:none;
		width: 100%;
	}
}
